{% load permissions_tags %} {% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark principal_color">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <!-- Centered link -->

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'app:home' %}">
                        <i class="fa fa-home fa-4x" aria-hidden="true"></i> <br>
                        Inicio
                    </a>
                </li>
            </ul>

            {% if request.user|has_role:'ALIMENTADOR' %}
                <ul class="navbar-nav me-auto">
                    <a class="navbar-brand px-md-3" href="#">
                        Candidato:
                        <br>
                        {{ request.user.customuser_set.first.super_visor.user.first_name }} {{ request.user.customuser_set.first.super_visor.user.last_name }}
                    </a>
                    <a class="navbar-brand px-md-3" href="#">
                        Municipio:
                        <br>
                        {{ request.user.customuser_set.first.municipio.name }}
                    </a>
                    <a class="navbar-brand px-md-3" href="#">
                        Lider:
                        <br>{{ request.user.first_name }} {{ request.user.last_name }}</a>
                </ul>

            {% elif request.user|has_role:'SUPERVISOR' %}
                <ul class="navbar-nav me-auto">
                    <a class="navbar-brand px-md-3" href="#">
                        Candidato:
                        <br>
                        {{ request.user.first_name }} {{ request.user.last_name }}</a>
                    </a>
                    <a class="navbar-brand px-md-3" href="#">
                        Municipio:
                        <br>
                        {{ request.user.customuser_set.first.municipio.name }}
                    </a>
                </ul>

            {% elif request.user|has_role:'SUPER_ADMIN' %}
                <ul class="navbar-nav me-auto">
                    <a class="navbar-brand px-md-3" href="#">
                        Admin:
                        <br>
                        <div class="display-6">
                        {{ request.user.first_name }} {{ request.user.last_name }}

                        </div>
                    </a>
                    </a>
                </ul>
            {% endif %}


            <div class=" ">
                <ul class="navbar-nav me-auto">

                    {% if request.user|has_role:'SUPER_ADMIN' %}
                        <li class="nav-item">

                            <a class="nav-link text-center" href="{% url 'admin:index' %}">
                                Admin <br> <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% elif request.user|has_role:'SUPERVISOR' %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                Candidato <br> <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% elif request.user|has_role:'ALIMENTADOR' %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                Lider <br> <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-center" href="{% url 'logout' %}">
                            Salir <br> <i class="fa fa-4x fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
