{% load permissions_tags %} {% load static %}

<div class="lateral-nav bg-dark" id="lateral">
    <div class="user__content">
        <i class="fa fa-3x fa-user-circle" aria-hidden="true"></i>
        <h4>{{ request.user.first_name }}<br /> {{ request.user.last_name }}</h4>
    </div>
    <div class="navigation">
    {% if request.user|has_role:'SUPER_ADMIN,SUPERVISOR,ALIMENTADOR' %}
        <ul>
            <li>
                <a href="{% url 'app:home' %}">
                    <span>Inicio</span>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:geomapa' %}">
                    <span>Mapa</span>
                    <i class="fa fa-map-marker "></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:home' %}">
                    <span>Agregar</span>
                    <i class="fa fa-plus" id="arrow"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:coordinadores' %}">
                    <span>Dinamizadores</span>
                    <i class="fa fa-certificate" style="color:#FEEC37;"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:leaders' %}">
                    <span>Lideres</span>
                    <i class="fa fa-users" style="color:#0D92F4;"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:show_votantes' %}">
                    <span>Amigos</span>
                    <i class="fa fa-user" style="color:#F95454;"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'app:chart' %}">
                    <span>Estadisticas</span>
                    <i class="fa fa-bar-chart"></i>
                </a>
            </li>
{#            <li>#}
{#                <a href="{% url 'app:votantes_download' %}">#}
{#                    <span>Descarga</span>#}
{#                    <i class="fa fa-bar-chart"></i>#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="{% url 'logout' %}" class="logout-btn btn btn-sm btn-danger ">
                    <span>Salir</span>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    {% endif %}
        <div class="menu_btn">
            <i class="fa fa-times" id="menu_icon" aria-hidden="true"></i>
        </div>

    </div>
</div>

{% block scriptcontent %}
<script type="text/javascript">

    const menu_btn = document.querySelector('.menu_btn');
    const menu_icon = document.getElementById('menu_icon');
    const lateral = document.getElementById('lateral');

    menu_btn.addEventListener('click', e => {

        menu_icon.classList.toggle("fa-bars");
        menu_icon.classList.toggle("fa-times");

        lateral.classList.toggle("lateral__hiden");
        lateral.classList.toggle("lateral-nav");

    })

    window.addEventListener("resize", e => {
        if (window.innerWidth < 768) {
            lateral.classList.add("lateral__hiden");
            lateral.classList.remove("lateral-nav");
        } else {
            lateral.classList.remove("lateral__hiden");
            lateral.classList.add("lateral-nav");
        }
    })

</script>
{% endblock %}