{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
    Geo Mapa | MCD
{% endblock %}
{% block content %}

    <h2 class="text-center">
    <i class="fa fa-users" aria-hidden="true"></i>
        <b>Coordinadores</b>
    </h2>
    <div class="container">

        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-30">Nombre</th>
                    <th scope="col" class="text-center">Cédula</th>
                    <th scope="col" class="text-center">Contacto</th>
                    <th scope="col" class="text-center">Lideres</th>
                    <th scope="col" class="text-center">Estructura</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                {% for coordinador in coordinadores %}
                    <tr>
                        <th scope="row ">
                            <spam class="table-icon-text">

                                {{ forloop.counter }}
                            </spam>

                        </th>
                        <td>
                            <spam class="table-icon-text">
                                <a href="{% url 'app:geomapa_detail_by_votante' coordinador.document_id %}"><i class="fa fa-users" aria-hidden="true"></i></a>

                                <b>{{ coordinador.name|upper }}</b>
                                <a href="{% url 'app:editar_votante' coordinador.document_id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </spam>
                        </td>

                        <td class="text-center">
                            <spam class="table-icon-text">
                                {{ coordinador.document_id }}
                            </spam>
                        </td>
                        <td>
                            {% if coordinador.mobile_phone %}
                                <a class="text-decoration-none" href="tel:{{ coordinador.mobile_phone }}">
                                    <i class="fa fa-phone table-icon-text" aria-hidden="true"></i>
                                </a>
                                <spam class="table-icon-text">
                                    |
                                </spam>
                                <a class="text-decoration-none verde_color_t"
                                href="https://api.whatsapp.com/send?phone=57{{ coordinador.mobile_phone }}&text=Hola+L%C3%ADder%21+%0D%0A*{{ nombre }}*%20😁%0A%0AEstamos+encantados+de+tenerte+en+nuestra+organizaci%C3%B3n.+%0D%0A%0D%0APodr%C3%A1s+agregar+tus+votantes+en+el+siguiente+enlace:%0D%0A%0D%0A*{{campain_url}}/iv/{{ coordinador.custom_link }}*">
                                    <i class="fa fa-whatsapp table-icon-text" aria-hidden="true"></i>
                                </a>
                            {% endif %}

                            <spam class="table-icon-text ">
                                {{ coordinador.show_mobile_phone }}
                            </spam>


                        </td>

                        <td class="text-center">
                            <spam class="table-icon-text">
                                {{ coordinador.referrals }}
                            </spam>
                        </td>

                        <td class="text-center">
                            <spam class="table-icon-text">
                                {% if coordinador.is_coordinador %}
                                    <a href="{% url 'app:detail_by_coordinador' coordinador.id %}"><i class="fa fa-sitemap" aria-hidden="true"></i></a>
                                {% endif %}
                            </spam>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>

{% endblock %}
