{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block content %}
<div class="container mt-3">
    {% if request.user|has_role:'SUPER_ADMIN,SUPERVISOR,ALIMENTADOR' %}

    <div class="row md-n3">
        <div class=" d-md-none d-lg-block col-lg-2"></div>

        <div class=" col-md-5 col-lg-4 d-flex justify-content-center  gy-3">
            <a href="{% url 'app:insert_votante' %}" class="home-action-btn text-center ">
                <i class="fa fa-plus fa-3x "></i><br>
                <h4 class="my-3">Agregar votante</h4>
            </a>
        </div>
        <div class=" col-md-2 d-lg-none"></div>

        <div class=" col-md-5 col-lg-4 d-flex justify-content-center  gy-3">
            <a href="{% url 'app:create_leader' %}" class="home-action-btn text-center ">
                <i class="fa fa-users fa-3x"></i>
                <h4 class="my-3">Agregar Lider</h4>
            </a>
        </div>

        <div class=" d-md-none d-lg-block col-lg-2"></div>

    </div>


    <div class="row">
        <div class=" d-md-none d-lg-block col-lg-2"></div>

        <div class=" col-md-10 col-lg-8 d-flex justify-content-center  gy-3">
            <a href="{% url 'app:create_coordinador' %}" class="home-action-btn text-center ">
                <i class="fa fa-certificate fa-3x"></i>
                <h4 class="my-3">Agregar Capitan</h4>
            </a>
        </div>

        <div class=" d-md-none d-lg-block col-lg-2"></div>


    </div>
    {% endif %}

</div>
{% endblock %}