{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
    Coordinador | MCD
{% endblock %}
{% block content %}

    <h1 class="text-center">
        <i class="fa  fa-sitemap" aria-hidden="true"></i>
        {{ nombre | upper}}

        <a href={{ link }}><i class="fa fa-user-plus" aria-hidden="true"></i></a>

        {% if mobile_phone %}
            <a class="verde_color_t"
                href="https://api.whatsapp.com/send?phone=57{{ mobile_phone }}&text=Hola+L%C3%ADder%21+%0D%0A*{{ nombre }}*%20😁%0A%0AEstamos+encantados+de+tenerte+en+nuestra+organizaci%C3%B3n.+%0D%0A%0D%0APodr%C3%A1s+agregar+tus+votantes+en+el+siguiente+enlace:%0D%0A%0D%0A*{{ link }}*">
             <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        {% endif %}
    </h1>

    <div class="container">
        <div class="row mt-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-40">Nombre</th>
                    <th scope="col" class="text-center">Cédula</th>
                    <th scope="col" class="text-center">Contacto</th>
                    <th scope="col" class="text-center">Puesto de Votación</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for votante in votantes %}
                    <tr>
                        <th scope="row ">
                            <spam class="table-icon-text">

                                {{ forloop.counter }}
                            </spam>

                        </th>

                        <td>
                            <spam class="table-icon-text">
                                <a href="{% url 'app:geomapa_detail_by_votante' votante.document_id %}"><i class="fa fa-user" aria-hidden="true"></i></a>
                                {{ votante.name|upper }}
                            </spam>
                        </td>

                        <td class="text-center">
                            <spam class="table-icon-text">

                                {{ votante.document_id }}
                            </spam>
                        </td>
                        <td>
                            {% if votante.mobile_phone %}

                                <a class="text-decoration-none" href="tel:{{ votante.mobile_phone }}">
                                    <i class="fa fa-phone table-icon-text" aria-hidden="true"></i>
                                </a>
                                <spam class="table-icon-text">
                                    |
                                </spam>
                                <a class="text-decoration-none verde_color_t"
                                   href="https://api.whatsapp.com/send?phone=57{{ votante.mobile_phone }}&text=Hola!">
                                    <i class="fa fa-whatsapp table-icon-text" aria-hidden="true"></i>
                                </a>

&nbsp
                            {% endif %}

                            <spam class="table-icon-text ">
                                {{ votante.show_mobile_phone }}
                            </spam>


                        </td>
                            {% if votante.status == "ERROR" %}
                                <td class="text-center">
                                <i id="error_validation" class="fa  fa-2x fa-times-circle red_color_t"
                                    aria-hidden="true"></i>
                                </td>

                            {% elif votante.status == "PENDING" %}
                                                                <td class="text-center">
                                <div id="loaing_validation" class="spinner-border text-info" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                                                </td>

                            {% endif %}

                            {% if votante.puesto_id %}
                                <td class="text-center">
                                    <spam class="table-icon-text">
                                        {{ votante.puesto_municipio }}
                                        <a href="{% url 'app:geomapa_detail_id' votante.puesto_id %}">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </a>
                                    </spam>
                                </td>
                            {% endif %}

{#                        <td class="text-center">#}
{#                            {{ votante.puesto_nombre }}#}
{#                        </td>#}
                        <td class="text-center">
                            <spam class="table-icon-text">
                            {% if votante.is_leader %}
                                <a href="{% url 'app:detail_by_coordinador' coordinador_id %}" >
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                        </spam>

                    </tr>
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>

{% endblock %}
