{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div id='myDiv_super_visor_map'><!-- Plotly chart will be drawn inside this DIV --></div>
{% endblock %}

{% block scriptcontent %}

    <script type="text/javascript">

        function pintarMapa() {
            var data = [
                {
                    "uid": "00e4ba",
                    "mode": "markers",
                    "name": "Intensidad",
                    "type": "scattermapbox",
                    "lat": ["Lattitude", "7.0609029", "7.0610946", "7.0721335"],
                    "lon": ["Longitude", "-73.1719275", "-73.1711808", "-73.166756"],
                    "marker": {
                        "meta": {"columnNames": {"size": "Intensidad, size"}},
                        "sizeref": null,
                        "size": ["Size E", "26.5", "16", "46.5"]
                    },
                    "text": ["Intensidad", "53", "32", "93"],
                    "visible": true,
                    "hoverinfo": "text+name"
                },
                {
                    "uid": "507651",
                    "mode": "markers",
                    "name": "Puesto de Votación",
                    "type": "scattermapbox",
                    "lat": ["Lattitude", "7.0609029", "7.0610946", "7.0721335"],
                    "lon": ["Longitude", "-73.1719275", "-73.1711808", "-73.166756"],
                    "marker": {
                        "meta": {"columnNames": {"size": "Puesto de Votación, size"}},
                        "sizeref": null,
                        "size": ["Size B", "10", "10", "10"]
                    },
                    "text": ["TOTAL JOBS", "Colegio Santa Cruz", "Colegio Juan Cristobal Martinez", "Colegio niño jesus de praga"],
                    "hoverinfo": "text+name"
                }
            ]

            var layout = {
                "title": {"text": "Geo Mapa"},
                "height": 550,
                "legend": {"x": 0, "y": 1},
                "mapbox": {
                    "zoom": 11,
                    "pitch": 2,
                    "center": {"lat": 7.070479, "lon": -73.106224},
                    "bearing": 0
                },
                "margin": {"b": 40, "l": 40, "r": 40, "t": 40},
                "autosize": true,
                "hovermode": "closest",
                "showlegend": true
            }
            var config = {
                "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"
            }

            Plotly.newPlot("myDiv_super_visor_map", data, layout, config = config);


        }

        pintarMapa()
    </script>
{% endblock %}