{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
    Geo Mapa | MCD
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            {% for municpio in municpios %}
            <div class="col">
                <div data-param="{{ municpio.name }}" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color">
                    {{ municpio.name }}
                </div>
            </div>
            {% endfor %}
            <div class="col col-sm-1">
                <a href="{% url 'app:lista_puesto_votacion' %}">
                    <div class="mapa-action-btn mapa-action-btn-selected text-center principal_color">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
        
        {% if show %}
            <div class="row">
                <div class="col">
                    <div data-param="GIRON" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color" id="GIRON">
                        GIRÓN
                    </div>
                </div>
                <div class="col">
                    <div data-param="FLORIDA" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color" id="FLORIDA">
                        FLORIDA
                    </div>
                </div>
                <div class="col">
                    <div data-param="PIEDECUESTA" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color" id="PIEDECUESTA">
                        PIEDECUESTA
                    </div>
                </div>
                <div class="col">
                    <div data-param="LEBRIJA" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color" id="LEBRIJA">
                        LEBRIJA
                    </div>
                </div>
                <div class="col">
                    <div data-param="BARRANCABERMEJA" class="btn_mapa mapa-action-btn mapa-action-btn-selected text-center principal_color" id="BARRANCABERMEJA">
                        BARRANCA
                    </div>
                </div>
            </div>
        {% endif %}
        

        <div class="row">
            <form id="searchForm" class="col-sm-4 m-2 ">
                <input type="text" id="searchInput" placeholder="Ingresa tu búsqueda" class="form-control">
                <button type="submit" id="searchButton" class="mapa-action-btn mapa-action-btn-selected text-center principal_color">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <div class="col-sm-4 m-2 ">
                <a href="{% url 'app:show_barrios' %}" style="text-decoration: none;">
                    <div class="mapa-action-btn mapa-action-btn-selected text-center color_principal" style="background-color:{{request.session.color_principal}}!important">
                        Mostrar Barrios
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div id='myDiv_super_visor_map'><!-- Plotly chart will be drawn inside this DIV --></div>
{% endblock %}

{% block scriptcontent %}

    <script type="text/javascript">

        function pintarMapa(new_data) {
            ids = new_data.ids
            lat = new_data.lat
            lon = new_data.lon
            pv_text = new_data.pv_text
            pv_size = new_data.pv_size

            in_text = new_data.in_text
            in_size = new_data.in_size

            center = {"lat": 5.5384615, "lon": -73.365181}
            {% if request.session.longitude_principal %}
                center = {
                    "lat": {{ request.session.latitude_principal }},
                    "lon": {{ request.session.longitude_principal }}
                }
            {% endif %}

            if (new_data.center) {
                center = new_data.center
            }

            var data = [
                {
                    "mode": "markers",
                    "name": "Votos",
                    "type": "scattermapbox",
                    "id": ids,
                    "lat": lat,
                    "lon": lon,
                    "marker": {
                        "meta": {"columnNames": {"size": "Intensidad, size"}},
                        "sizeref": null,
                        "size": in_size
                    },
                    "text": in_text,
                    "visible": true,
                    "hoverinfo": "text+name"
                },
                {
                    "mode": "markers",
                    "name": "Puesto de Votación",
                    "type": "scattermapbox",
                    "id": ids,
                    "lat": lat,
                    "lon": lon,
                    "marker": {
                        "meta": {"columnNames": {"size": "Puesto de Votación, size"}},
                        "sizeref": null,
                        "size": pv_size
                    },
                    "text": pv_text,
                    "hoverinfo": "text+name"
                }
            ]

            var layout = {
                "title": {"text": ""},
                "height": 1000,
                "legend": {"x": 0, "y": 1},
                "mapbox": {
                    "zoom": 14.25,
                    "pitch": 2,
                    "center": center,
                    "bearing": 0
                },
                "margin": {"b": 40, "l": 40, "r": 40, "t": 40},
                "autosize": true,
                "hovermode": "closest",
                "showlegend": true
            }
            var config = {
                "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"
            }

            Plotly.newPlot("myDiv_super_visor_map", data, layout, config = config);

            var myPlot = document.getElementById('myDiv_super_visor_map')

            myPlot.on('plotly_click', function (data) {
                pointIndex = data.points[0].pointIndex
                point = `${data.points[0].data.id[pointIndex]}`
                url = "{% url 'app:geomapa_detail' %}"
                new_url = `${url}${point}`
                window.open(
                    new_url
                )
            });
        }

        function getInfoPuestosSuccessCallback(data) {

            pintarMapa(data.data)
        }

        function getInfoPuestosErrorCallback() {
            console.log('getInfoPuestosErrorCallback, error trayendo la info de  getInfoPuestos ')

        }

        var getInfoPuestos = (successCallback, errorCallback, param) => {
            var url = `/api/mapa_puestos/?municipio=${param}`
            $.ajax({
                type: 'GET',
                url,
                error: errorCallback,
                success: successCallback
            });
        };

        getInfoPuestos(getInfoPuestosSuccessCallback, getInfoPuestosErrorCallback, param="ALL")


        const nav_items = document.querySelectorAll('.btn_mapa');

        nav_items.forEach(element => {
                element.addEventListener("click", () => {
                    nav_items.forEach( el => {
                        el.classList.remove("mapa-action-btn-selected")
                        }
                    )
                    element.classList.add("mapa-action-btn-selected")
                    const param = element.getAttribute("data-param")
                    getInfoPuestos(getInfoPuestosSuccessCallback, getInfoPuestosErrorCallback, param)
                } )
            }
        )

        document.getElementById('searchForm').addEventListener('submit', function(event) {
          event.preventDefault(); // Evita que el formulario se envíe por defecto

          // Obtiene el término de búsqueda ingresado por el usuario
          const searchTerm = document.getElementById('searchInput').value;

          // Reemplaza los espacios en blanco en el término de búsqueda por el caracter '+'
          const searchQuery = searchTerm.replace(/ /g, '+');

          // Crea la URL que abrirá la búsqueda en un motor de búsqueda (por ejemplo, Google)
          const searchURL = `/geomapa/detail_by_votante/${searchQuery}`;

          // Abre la URL en una nueva pestaña
          window.open(searchURL, '_blank');
        });
    </script>
{% endblock %}
