{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block content %}
    <br><br>
    <div class="container mt-3">
        <h2>Ingresar Votante</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="row md-n3">
                <div class="col col-sm-12 col-md-6  px-md-3 gy-3">
                    <label for="inputAddress">Cedula</label>
                    <input type="number" class="form-control" placeholder="Cedula" id='input_document_id' name="document_id">
                </div>
                <div class="col col-sm-12 col-md-6  px-md-3 gy-3">
                    <label for="inputAddress">Validacion</label> <br>
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <i class="fa fa-times-circle" aria-hidden="true"></i>

                </div>
            </div>
            <div class="row md-n3">
                <div class="col col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="first_name">
                </div>
                <div class="col col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Apellido</label>
                    <input type="text" class="form-control" placeholder="Apellido" name="last_name">
                </div>
            </div>

            <div class="row md-n3">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-5 px-md-3 gy-3">
                    <label for="inputAddress">Email</label>
                    <input type="email" class="form-control" placeholder="Correo Electrónico" name="email">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 px-md-3 gy-3">
                    <label for="inputAddress">Celular</label>
                    <input type="number" class="form-control" placeholder="Celular" name="mobile_phone">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6  col-lg-2 px-md-6  px-lg-3 gy-3">
                    <label for="inputAddress">F. Nacimiento</label>
                    <input type="date" class="form-control" placeholder="DD/MM/AAAA" name="birthday">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6  col-lg-2 px-md-6 px-lg-3 gy-3">
                    <label for="inputAddress">Genero</label>
                    <select class="form-select" aria-label="Default select example" name="gender">
                        <option selected>Genero</option>
                        <option value="HOMBRE">Hombre</option>
                        <option value="MUJER">Mujer</option>
                    </select>
                </div>
            </div>

            <div class="row  md-n3">
                <div class="col col-xs-12 col-sm-12 col-md-3 px-md-3 gy-3">
                    <label for="inputAddress">Municipio</label>
                    <select class="form-select" aria-label="Default select example" id='select_municipio'  name="municipio">
                        <option selected>Municipio</option>
                        <option value="BUCARAMANGA">Bucaramanga</option>
                        <option value="FLORIDABLANCA">Floridablanca</option>
                        <option value="PIEDECUESTA">Piedecuesta</option>
                        <option value="GIRON">Giron</option>
                    </select>
                </div>

                <div class="col col-xs-12 col-sm-12 col-md-3 px-md-3 gy-3">
                    <label for="inputAddress">Barrio</label>
                    <select class="form-select" aria-label="Default select example" id='select_barrio' name="barrio">
                        <option selected>Barrio</option>
                    </select></div>

                <div class="col col-xs-12 col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Dirección</label>
                    <input type="text" class="form-control" placeholder="Dirección" name="address">
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>

        </form>
    </div>
{% endblock %}
