{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block title %}
    Agregar Votante | MCD
{% endblock %}

{% block headcontent %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% endblock %}
{% block content %}
    <br><br>
    <div class="container mt-3">
        <h2>Ingresar Votante</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="row md-n3">
                <div class="col col-sm-12 col-md-6  px-md-3 gy-3">
                    <label for="inputAddress">Cédula</label>
                    <input required type="number" class="form-control" placeholder="Cédula" id='input_document_id' name="document_id">
                </div>
                <div class="col col-sm-12 col-md-6  px-md-3 gy-3">
                    <label for="inputAddress">Validación</label>
                    <br>
                    <div id="status_validation">
                        <div id="loaing_validation" class="spinner-border text-info" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <i id="success_validation" class="fa  fa-2x fa-check-circle verde_color_t invisible" aria-hidden="true"></i>
                        <i id="error_validation" class="fa  fa-2x fa-times-circle red_color_t invisible" aria-hidden="true"></i>
                        <div id="error_message_validation" class="red_color_t invisible">
                            El número de documento que intentas ingresar ya se encuentra registrado en V-Data.
                        </div>
                    </div>



                </div>
            </div>
            <div class="row md-n3">
                <div class="col col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Nombre</label>
                    <input required type="text" class="form-control" placeholder="Nombre" name="first_name">
                </div>
                <div class="col col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Apellido</label>
                    <input required type="text" class="form-control" placeholder="Apellido" name="last_name">
                </div>
            </div>

            <div class="row md-n3">
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-5 px-md-3 gy-3">
                    <label for="inputAddress">Email</label>
                    <input required type="email" class="form-control" placeholder="Correo Electrónico" name="email">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-3 px-md-3 gy-3">
                    <label for="inputAddress">Celular</label>
                    <input required type="number" class="form-control" placeholder="Celular" name="mobile_phone">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6  col-lg-2 px-md-6  px-lg-3 gy-3">
                    <label for="inputAddress">F. Nacimiento</label>
                    <input required type="date" class="form-control" placeholder="DD/MM/AAAA" name="birthday">
                </div>
                <div class="col col-xs-12 col-sm-12 col-md-6  col-lg-2 px-md-6 px-lg-3 gy-3">
                    <label for="inputAddress">Genero</label>
                    <select required class="form-select" aria-label="Default select example" name="gender">
                        <option value="HOMBRE">Hombre</option>
                        <option value="MUJER">Mujer</option>
                    </select>
                </div>
            </div>

            <div class="row  md-n3">
                <div class="col col-xs-12 col-sm-12 col-md-3 px-md-3 gy-3">
                    <label for="inputAddress">Municipio</label>
                    <select required class="form-select" aria-label="Default select example" id='select_municipio'  name="municipio">
                        <option value="BUCARAMANGA">Bucaramanga</option>
                        <option value="FLORIDABLANCA">Floridablanca</option>
                        <option value="PIEDECUESTA">Piedecuesta</option>
                        <option value="GIRON">Giron</option>
                    </select>
                </div>

                <div class="col col-xs-12 col-sm-12 col-md-3 px-md-3 gy-3">
                    <label for="inputAddress">Barrio</label>
                    <select required class="form-select" aria-label="Default select example" id='select_barrio' name="barrio">
                    </select></div>

                <div class="col col-xs-12 col-sm-12 col-md-6 px-md-3 gy-3">
                    <label for="inputAddress">Dirección</label>
                    <input required type="text" class="form-control" placeholder="Dirección" name="address">
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button id="enviat_form" type="submit" class="btn btn-success disabled">Guardar</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block scriptcontent %}
    <script type="text/javascript">
var DOM_IDS = {
    SELECT_MUNICIPIO: 'select_municipio',
    SELECT_BARRIO: 'select_barrio',
    INPUT_DOCUMENT_ID: 'input_document_id',
    BTN_ENVIAR: "enviat_form",
}


    $('#'+DOM_IDS.SELECT_MUNICIPIO).on("change", populate_barrios)

    function getBarriosByMunicipio(municipio, successCallback, errorCallback) {
          var url = `/api/get_barrio_by_municipio/${municipio}`
          $.ajax({
            type: 'GET',
            url,
            error: errorCallback,
            success: successCallback
          });
    }

    function checkValidationDocumentId(cc, successCallback, errorCallback) {
          var url = `/api/validate_cc/${cc}`
          $.ajax({
            type: 'GET',
            url,
            error: errorCallback,
            success: successCallback
          });
    }

    function pintarBarrios(barrios) {
        options = []
        element = $('#'+DOM_IDS.SELECT_BARRIO)
            for (var i = 0; i < barrios.length; i++) {
                options.push('<option value="',
                  barrios[i].name, '">',
                  barrios[i].name, '</option>');
            }
        element.html(options.join(''));

    }

    function actualizarValidacion(validation) {
        add_hidden_class("loaing_validation")
        if (validation) {
            add_hidden_class("error_validation")
            add_hidden_class("error_message_validation")
            remove_hidden_class("success_validation")
            $('#'+DOM_IDS.BTN_ENVIAR)[0].classList.remove('disabled')

        } else {
            add_hidden_class("success_validation")
            remove_hidden_class("error_validation")
            remove_hidden_class("error_message_validation")
            $('#'+DOM_IDS.BTN_ENVIAR)[0].classList.add('disabled')
        }
    }

    function  barriosSuccessCallback (data)  {
        pintarBarrios(data.data)
    }

    function  barriosErrorCallback() {
        console.log('barriosErrorCallback, error trayendo la info de los barrios ')

    }

    function  validationDocumentIdSuccessCallback (data)  {
        actualizarValidacion(data.data)
    }

    function  validationDocumentIdErrorCallback() {
        console.log('validationDocumentIdErrorCallback, error validando la info del document ')

    }

    function populate_barrios() {
        municipio = $('#'+DOM_IDS.SELECT_MUNICIPIO).val()
        getBarriosByMunicipio(municipio, barriosSuccessCallback, barriosErrorCallback )
    }

    function add_hidden_class(id){
        element = $("#" + id)[0]
        element.classList.add("invisible");
    }

    function remove_hidden_class(id){
        element = $("#" + id)[0]
        element.classList.remove("invisible");
    }

    $("#" + DOM_IDS.INPUT_DOCUMENT_ID).on('change',function(e){
        document_id = $('#'+DOM_IDS.INPUT_DOCUMENT_ID).val()
        remove_hidden_class("loaing_validation")
        add_hidden_class("success_validation")
        add_hidden_class("error_validation")
        add_hidden_class("error_message_validation")

        checkValidationDocumentId(document_id, validationDocumentIdSuccessCallback, validationDocumentIdErrorCallback)

    });

    populate_barrios()
    </script>
{% endblock %}