{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
{% endblock %}
{% block title %}
    List de Eventos | MCD
{% endblock %}
{% block content %}
    <div class="container">

            <h1 class="text-center"> <strong> Eventos Creados </strong> </h1>

        <div>

        </div>
        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-30"> <b>Nombre</b></th>
                    <th scope="col" class="w-30"> <b>Encargado</b></th>
                    <th scope="col" class="w-30"> <b>Lideres</b></th>
                    <th scope="col" class="w-30"> <b>Votantes</b></th>
                    <th scope="col" class="w-30"> <b>Acciones</b></th>

                </tr>
                </thead>
                <tbody>
                {% for evento in events %}
                    <tr>
                        <th scope="row ">
                            <spam class="table-icon-text">
                               <b>
                                   {{ forloop.counter }}
                               </b>
                            </spam>
                        </th>
                        <td>
                            <spam class="table-icon-text">
                                {{ evento.event_name|upper }}
                            </spam>
                        </td>
                        <td>
                            <spam class="table-icon-text">
                                {{ evento.votante_name|upper }}
                            </spam>
                        </td>
                        <td>
                            <spam class="table-icon-text text-center">
                                <a href="{% url 'app:detail_by_coordinador' evento.id %}" class="btn btn-success">
                                    {{ evento.lideres }}
                                </a>
                            </spam>
                        </td>
                        <td>
                            <spam class="table-icon-text ">
                                <a class="btn btn-success">
                                    {{ evento.referidos }}
                                </a>
                            </spam>
                        </td>
                        <td>
                            <spam class="table-icon-text">
                                <a href=" ./iv/{{ evento.custom_link }} " class="btn btn-primary text-center">
                                    Agregar Lider
                                    {{ custom_link }}
                                </a>
                            </spam>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
