{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
{% endblock %}
{% block title %}
    List Puesto Votacion | MCD
{% endblock %}
{% block content %}
    <div class="container">

            <h1 class="text-center"> <strong> Puestos de Votación </strong> </h1>

        <div>

        </div>
        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-30">Nombre</th>
{#                    <th scope="col" class="w-30">Dirección</th>#}
                    <th scope="col" class="text-center">Departamento</th>
                    <th scope="col" class="text-center">Municipio</th>
                    <th scope="col" class="text-center"># Votantes</th>
                    <th scope="col" class="text-center">Ver</th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for puesto in puestos %}
                    <tr>
                        <th scope="row ">
                            <spam class="table-icon-text">
                                {{ forloop.counter }}
                            </spam>
                        </th>
                        <td>
                            <spam class="table-icon-text">
                                {{ puesto.name|upper }}
                            </spam>
                        </td>

{#                        <td>#}
{#                            <spam class="table-icon-text">#}
{#                                {{ puesto.address }}#}
{#                            </spam>#}
{#                        </td>#}

                        <td>
                            <spam class="table-icon-text ">
                                {{ puesto.departamento }}
                            </spam>
                        </td>
                        <td>
                            <spam class="table-icon-text ">
                                {{ puesto.municipio }}
                            </spam>
                        </td>
                        <td class="text-center">
                            <spam class="table-icon-text ">
                                {{ puesto.num_votantes }}
                            </spam>
                        </td>
                        <td class="text-center">
                            <spam class="table-icon-text ">
                                 <spam class="table-icon-text">
                                        <a href="{% url 'app:geomapa_detail_id' puesto.id %}">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </a>
                                    </spam>
                            </spam>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
