{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
    Geo Mapa | MCD
{% endblock %}
{% block content %}

    <h2 class="text-center">
    <i class="fa fa-users" aria-hidden="true"></i>

        <b>Votantes</b>
    </h2>

    
    <div class="container">
        
        <div class="row mt-5">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-30">Nombre</th>
                    <th scope="col" class="text-center">Municipio de Votación</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody id="votantes_table">
                    
                </tbody>

            </table>

        </div>

        <div class="row mt-5">
            <div class="paginator-container">
                <div id="paginator">
    
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptcontent %}

    <script type="text/javascript">

    // MOSTRAR VOTANTES DE FORMA ASINCRONA
    let votantes = []
    
    const listarVotantes = async (pagina) => {
        try{
            const response = await fetch(`./api/get_all_votantes?page=${pagina}`)
            const data = await response.json()

            if(data.message === "Success"){
                votantes = data.votantes.votantes
                renderVotantes(votantes);

                current = data.votantes.current_page
                pages = data.votantes.pages
                
                renderPaginatior(current,pages)

            } else {
                console.log("Votantes no encontrados :(")
            }
        } catch (error) {
            console.log(error)
        }
    };

    const renderVotantes = async (votantes) => {
        let opciones = ``;
        count = 0
        votantes.forEach(votante => {
            count += 1
            opciones += `
                <tr>
                    <th scope="row ">
                        <spam class="table-icon-text">

                            ${count}
                        </spam>

                    </th>
                    <td>
                        <spam class="table-icon-text" style="text-transform:uppercase">
                            <a href="geomapa/detail_by_votante/${votante.document_id}"><i class="fa fa-user" aria-hidden="true"></i></a>

                            <b>${votante.name}</b>

                            <a href="votante/editar/${votante.document_id}""> <i class="fa fa-pencil" aria-hidden="true"></i> </a>
                        <br>
                        Contacto:
                        <a class="text-decoration-none" href="tel:${votante.mobile_phone}">
                            <i class="fa fa-phone table-icon-text" aria-hidden="true"></i>
                        </a>
                        <spam class="table-icon-text">
                            |
                        </spam>
                        <a class="text-decoration-none verde_color_t"
                            href="https://api.whatsapp.com/send?phone=57${votante.mobile_phone}&text=Hola!">
                            <i class="fa fa-whatsapp table-icon-text" aria-hidden="true"></i>
                        </a>


                        <spam class="table-icon-text ">
                            ${votante.mobile_phone}
                        </spam>

                        <br>
                        Cédula:

                        <spam class="table-icon-text">
                            ${votante.document_id}
                        </spam>
                    </td>

                    <td class="text-center">
                        <spam class="table-icon-text" style="text-transform:uppercase">
                            ${votante.municipio}
                            <a href="geomapa/detail_by_votante/${votante.document_id}" >
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </a>
                        </spam>
                    </td>
                </tr>
                `
        });
        votantes_table.innerHTML = opciones
    }

    const renderPaginatior = async (current, pages) => {
        let paginate = ``

        paginate += `<button data-id="${current}" class="paginator_btn current">Inicio</button>`
        paginate += `<button data-id="${current - 1}" class="paginator_btn current">Anterior</button>`
        paginate += `<button data-id="${current}" class="paginator_btn current">${current}</button>`
        paginate += `<button data-id="${current + 1}" class="paginator_btn current">Siguiente</button>`
        paginate += `<button data-id="${pages}" class="paginator_btn current">Ultima</button>`
        
        
        paginator.innerHTML = paginate

    }

    const cargaInicial = async () => {
        paginator.addEventListener('click',  async e =>{
            if(e.target.classList.contains('paginator_btn')){
                pagina = e.target.dataset.id
                listarVotantes(pagina)
            }
            e.stopPropagation();
        })
        
        await listarVotantes(1);
        
    };

    window.addEventListener("load", async () => {

        await cargaInicial();
    });


    // PINTAR MAPA


</script>
{% endblock %}