{% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block title %}
    Resumen | MCD
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2 class="display-4 text-center">
            <i class="fa fa-bar-chart"></i>
            Amigos agregados
        </h2>
        <br>
        <hr class="my-6">

        <div class="container  text-center">
            <div class="row">
                <div class="col">
                    <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                </div>
                 <div class="col">
                    <i class="fa fa-bookmark fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <i class="fa fa-tachometer fa-5x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="col fa-3x">
                    {{ num_encuestas_hoy }}
                </div>
                <div class="col fa-3x">
                    {{ num_encuestas_semana }}
                </div>
                <div class="col fa-3x">
                    {{ num_encuestas_mes }}
                </div>
                <div class="col fa-3x">
                    {{ num_encuestas_total }}
                </div>
            </div>
            <div class="row">
                <div class="col fa-2x">
                    Hoy
                </div>

                <div class="col fa-2x">
                    Semana
                </div>

                <div class="col fa-2x">
                    Mes
                </div>
                <div class="col fa-2x">
                    Total
                </div>

            </div>
        </div>
        <hr class="my-4">

        <div class="container  text-center">
            <div class="row">

                <div class="col">
                    <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <i class="fa  fa-times fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <i class="fa fa fa-cog fa-5x" aria-hidden="true"></i>
                </div>

            </div>
            <div class="row">

                <div class="col fa-3x">
                    {{ votante_proceess }}
                </div>
                <div class="col fa-3x">
                    {{ votante_error }}
                </div>
                <div class="col fa-3x">
                    {{ votante_pending_proceess }}
                </div>
            </div>
            <div class="row">
                <div class="col fa-2x">
                    Validos
                </div>
                <div class="col fa-2x">
                    No validos
                </div>
                <div class="col fa-2x">
                    Sin procesar
                </div>
            </div>
        </div>

    </div>
{% endblock %}
